@import 'https://fonts.googleapis.com/css?family=Quattrocento+Sans';

html, body, .ng-scope {
  height: 100%;
}

#content {
  font-size: 12px;
  font-family: 'Quattrocento Sans';
  background-color: rgba(0,0,0,0.9);
  color: white;
  -webkit-box-shadow: -26px 0px 60px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -26px 0px 60px 0px rgba(0,0,0,0.75);
  box-shadow: -26px 0px 60px 0px rgba(0,0,0,0.75);
}

h1 {
  font-size: 18px;
  padding: 0px;
}

h2 {
  font-size: 14px;
  padding: 0px;
}

h3 {
  font-size: 12px;
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
}

.sites-list {
  border-right: solid 1px rgba(255,255,255,0.2);
  overflow-y: scroll;
}
.sites-list img {
  margin-right: 14px;
}
