<div id='bookmarks' class='container-fluid'>
  <div class='row'>
    <div class="col-md-12">
      <h1>Bookmarks</h1>
      <hr>
    </div>
    <div class='col-md-6 sites-list'>

      <h2>Relevant</h2>
        <div class="container-fluid">
          <div class="row" ng-repeat="s in relevant" ng-click="chooseSite(s)">
            <div class="col-xs-12">
              <img class='pull-left' src="{{s.favicon}}" alt="{{s.name}}" style="height: 28px">
              <h3>{{s.name}}</h3>
              <p class='text-muted'>{{s.url}}</p>
            </div>
          </div>
        </div>
      <h2>Recent</h2>
      <div class="container-fluid">
        <div class="row" ng-repeat="s in recent" ng-click="chooseSite(s)">
          <div class="col-xs-12">
            <img class='pull-left' src="{{s.favicon}}" alt="{{s.name}}" style="height: 28px">
            <h3>{{s.name}}</h3>
            <p class='text-muted'>{{s.url}}</p>
          </div>
        </div>
      </div>
      <h2>Manual</h2>
      <div class="container-fluid">
        <div class="row" ng-repeat="s in bookmarks" ng-click="chooseSite(s)">
          <div class="col-xs-12">
            <img class='pull-left' src="{{s.favicon}}" alt="{{s.name}}" style="height: 28px">
            <h3>{{s.name}}</h3>
            <p class='text-muted'>{{s.url}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6 sites-list'>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>{{site.name}}<span ng-show="!site.name" class='text-muted'>please choose a site</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form ng-submit="searchSite(site)">
              <h2>Search</h2>
              <input type="text" ng-model="query" class='form-control' ng-disabled="!site.name">
            </form>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>History</h2>
            <div class="row" ng-repeat="p in site_history" ng-click="choosePage(p)">
              <div class="col-xs-12">
                <p><a target="_self" href="{{p.url}}">{{p.name}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
