<div class="container-fluid">
  <div class="row" style="padding-top: 100px">
    <div class="col-md-4 col-md-offset-4">
      <h1>User Login</h1>
      <p>It's time to log into the most awesome example ever.</p>
      <form class="form" ng-submit='login(auth)'>
        <fieldset>
        {{oauth_token}}
        <div class="form-group">
          <label for="alias">User</label>
          <input type="text" class="form-control" id="alias" ng-model='auth.alias' placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ng-model='auth.password' placeholder="password">
        </div>
        <input class='btn btn-primary pull-right' type="submit" value="Login">
      </fieldset>
      </form>
    </div>
  </div>
</div>
