<div id='chain-list' class='container'>

  <div class='row'>
    <div class="col-md-12">
      <p class='pull-right'>Search: <input class='form-control' ng-model="like"># of results: <input class='form-control pull-right' style='width: 50px' ng-model="pagination.per_page"></p>
			<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
      <table class='table table-striped'>
        <thead><tr>
          <th>Actions</th>
          <th ng-click="sort('name')" ng-class="{active:('name'==order),desc:(desc==true)}">Name</th>
        </tr></thead>
        <tbody>
          <tr dir-paginate="(idx,item) in items | itemsPerPage: pagination.per_page" total-items="pagination.total" current-page="pagination.current">
            <td>
              <button ng-click='delete(idx)' class='btn btn-danger btn-xs'><span class="glyphicon glyphicon-minus"></span></button>
              <button ng-click="choose(item)" onclick="$('#edit_modal').modal(); $('form input:first').focus()" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-pencil"></span></button>
            </td>
            <td><a ui-sref='item.view({id:item.id})'>{{ item.name }}</a></td>
          </tr>
          <tr>
            <td><button ng-click="create({name:'',project_id:user.active.id})" onclick="$('#edit_modal').modal()" class='btn btn-success btn-xs'><span class="glyphicon glyphicon-plus"></span></button></td>
            <td><em class='text-muted'>add a new item</em></td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>

<!-- Editor as a Modal -->
<div id='edit_modal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="save(newItem)" ng-init='newItem={}'>
          <fieldset>
            <legend>Edit Chain <small class='pull-right'>{{user.active.name}}</small></legend>
            <div class="form-group">
              <label for="name">Name</label>
              <input required type="text" class="form-control" id="name" ng-model="newItem.name" placeholder="">
            </div>

            <div class="row">
              <div class="col-md-12">
                <a class='btn btn-default' data-dismiss='modal'>Cancel</a>
                <button type="submit" name="submitButton" onclick="$('#edit_modal').modal('hide')" class="btn btn-primary pull-right">Save</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#edit_modal').on('shown.bs.modal', function () {
    $("#edit_modal button:submit").attr("disabled",false).removeClass("disabled")
    $('#edit_modal input:text:visible:first').focus();
})
</script>
